li {
  /*display: inline;*/
}

ul {
  padding-left: 0;
}

ul ul {
  padding-left: 20px;
}

.input-icon {
  position: relative;
  z-index: 1;
  left: -35px;
  top: 1px;
  color: #7B7B7B;
  cursor: pointer;
  width: 0;
}

.btn-nextTo {
  display: inline;
  position: relative;
  left: 20px;
  top: 0;
  cursor: pointer;
}

#search {
  width: 250px;
  padding-left: 10px;
  margin: 10px 10px 10px 0;
}

.tinytext-right {
  font-size: 0.7em;
  text-align: right;
  padding: 0 5px 0 0;
  margin: 0;
}

.label {
  -webkit-transition: all 150ms;
  color: black;
  display: block;
  -webkit-padding-start: 20px;
  background: 0 50% no-repeat;
  box-sizing: border-box;
  overflow: hidden;
  /*text-overflow: ellipsis;*/
  white-space: pre;
  text-align: left;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.icon-action {
  cursor: pointer;
  /*padding-left: 10px;*/
  font-size: medium;
}

.section-header {
  margin: 0;
}

.a-stitch {
  cursor: pointer;
}

.a-thread {
  cursor: pointer;
}

/* --- Styling for drag and drop of stitches into threads --- */
.thread-row.drag-on, .drag-on {

  /* @todo Same look as Google bookmarks, consider changing */
  background-color: hsla(214, 91%, 85%, 0.5);
  border: 1px solid hsl(214, 91%, 85%);
  border-radius: 3px;
  box-sizing: border-box;
  max-height: 400px;

}

.btn {
  margin-left: 5px;
  margin-right: 5px;
}

.permissionCheck {
  position: fixed;
  right: 5px;
  bottom: 5px;
  font-size: x-small;
  font-weight: 200;
  margin: 0;
}

#emailFeedback{
  position: fixed;
  left: 5px;
  bottom: 5px;
  font-size: x-small;
  font-weight: 200;
  margin: 0;
}

.rightify {
  position: absolute;
  right: 5px;
  /*margin-left: 5px;*/
}

.stitch-row {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  white-space: nowrap;
}

.thread-row {
  white-space: nowrap;
}

.stitch-title {
  padding-right: 20px;
  text-overflow: clip;
}

.stitch-row:hover {
  background-color: #eeeeee;
}

.icon-node {
  cursor: -webkit-grab;
}

.icon-node:active {
  cursor: -webkit-grabbing;
}

.spacer-right-70 { margin-right: 70px; }

.row-panel {
  overflow:scroll;
  height:400px;
}


/*.row {*/
  /*overflow: hidden;*/
/*}*/

/*[class*="col-"]{*/
  /*margin-bottom: -99999px;*/
  /*padding-bottom: 99999px;*/
/*}*/

/*!* Define a class to specify a tooltip upon hover*!*/
/*.tooltip {*/
  /*position: relative;*/
  /*display: inline-block;*/
  /*border-bottom: 1px dotted black;*/
/*}*/

/*!* Define a class that styles the tooltip text *!*/
/*.tooptiptext {*/
  /*visibility: hidden;*/
  /*width: 120px;*/
  /*background-color: black;*/
  /*color: #fff;*/
  /*text-align: center;*/
  /*padding: 5px 0;*/
  /*border-radius: 6px;*/
  /*position: absolute;*/
  /*z-index: 1;*/
/*}*/

/*.tooltip .tooltip-left {*/
  /*right: 105%;*/
  /*top: -5px;*/
/*}*/

/*.tooltiptext {*/
  /*visibility: visible;*/
/*}*/