li {
  /*display: inline;*/
}

ul {
  padding-left: 0;
}

ul ul {
  padding-left: 20px;
}

.input-icon {
  position: relative;
  z-index: 1;
  left: -35px;
  top: 1px;
  color: #7B7B7B;
  cursor: pointer;
  width: 0;
}

.btn-nextTo {
  display: inline;
  position: relative;
  left: 20px;
  top: 0;
  cursor: pointer;
}

#search {
  width: 250px;
  padding-left: 10px;
  margin: 10px 10px 10px 0;
}

.tinytext-right {
  font-size: 0.7em;
  text-align: right;
  padding: 0 5px 0 0;
  margin: 0;
}

.label {
  -webkit-transition: all 150ms;
  padding: 0.2em 0.6em 0.2em 0;
  color: black;
  display: block;
  -webkit-padding-start: 20px;
  background: 0 50% no-repeat;
  box-sizing: border-box;
  overflow: hidden;
  /*text-overflow: ellipsis;*/
  white-space: pre;
  text-align: left;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.icon-action {
  cursor: pointer;
  /*padding-left: 10px;*/
  font-size: medium;
}

.icon-pointer {
  cursor: pointer;
}

.icon-medium {
  font-size: medium;
}

.icon-stitch-action {
  padding-right: 5px;
  font-size: small;
}

.section-header {
  margin: 0;
}

.a-stitch {
  cursor: pointer;
}

.a-thread {
  cursor: pointer;
}

/* --- Styling for drag and drop of stitches into threads --- */
.thread-row.drag-on, .drag-on {

  /* @todo Same look as Google bookmarks, consider changing */
  background-color: hsla(214, 91%, 85%, 0.5);
  border: 1px solid hsl(214, 91%, 85%);
  border-radius: 3px;
  box-sizing: border-box;
  max-height: 400px;

}

.btn {
  margin-left: 5px;
  margin-right: 5px;
}

.permissionCheck {
  position: fixed;
  right: 5px;
  bottom: 5px;
  font-size: x-small;
  font-weight: 200;
  margin: 0;
}

#emailFeedback{
  position: fixed;
  left: 5px;
  bottom: 5px;
  font-size: x-small;
  font-weight: 200;
  margin: 0;
}

.rightify {
  position: absolute;
  right: 5px;
  /*margin-left: 5px;*/
}

.rightify-scroll {
  position: absolute;
  right:20px;
}

.stitch-row {
  /*padding-top: 5px;*/
  /*padding-bottom: 5px;*/
  margin-left: 5px;
  white-space: nowrap;
}

.stitch-row:hover {
  background-color: #eeeeee;
}


.thread-row {
  white-space: nowrap;
}

.stitch-title {
  /*padding-right: 20px;*/
  text-overflow: clip;
}

.icon-node {
  cursor: -webkit-grab;
}

.icon-node:active {
  cursor: -webkit-grabbing;
}

.spacer-right-70 { margin-right: 70px; }
.spacer-top-10 {padding-top: 5px;}

.spacer-top-xs {margin-top: 5px;}
.spacer-top-sm {margin-top: 10px;}
.spacer-top-md {margin-top: 20px;}
.spacer-left-sm {margin-left: 10px;}
.spacer-left-md {margin-left: 20px;}
.spacer-left-lg {margin-left: 40px;}

.row-panel {
  overflow:scroll;
  height:400px;
}

/* A transient-menu is hidden unless a defined ancestor is being hovered over */
.transient-menu {
  visibility: hidden;
}
.stitch-row:hover .transient-menu {
  visibility: visible;
}

.button-banner {
  white-space:nowrap;
  height:32px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.button-banner-threads {
  background-color: #261a3b;
}

.banner-stitches-color-bg {
  background-color: white;
}

.thread-panel {
  padding-left:2px;
}

.thread-panel-color-bg {
  background-color:#f3f3f3;
}

.current-thread-yes {
  font-weight: 600;
}

.current-thread-no {
  font-weight: 300;
}

.input-long {
  width: 400px;
  padding-left: 5px;
  margin: 5px;
}

/* this was part of an attempt to not display the scrollbar when not scrolling */
/*::-webkit-scrollbar {*/
/*!*display: none;*!*/
/*visibility: hidden;*/
/*}*/

/*!* Some basic styling to notify users*/
   /*about the tooltips*!*/
/*.tooltip {*/
  /*color: #900;*/
  /*text-decoration: none;*/
/*}*/
/*.tooltip:hover {*/
  /*color: red;*/
  /*position: relative;*/
/*}*/
/*!* Tooltip on Top *!*/
/*.tooltip-top[data-tooltip]:hover:after {*/
  /*content: attr(data-tooltip);*/
  /*padding: 4px 8px;*/
  /*position: absolute;*/
  /*left: 0;*/
  /*bottom: 100%;*/
  /*white-space: nowrap;*/
  /*z-index: 20px;*/
  /*background-color: #000;*/
  /*color: #fff;*/
/*}*/

/*.row {*/
  /*overflow: hidden;*/
/*}*/

/*[class*="col-"]{*/
  /*margin-bottom: -99999px;*/
  /*padding-bottom: 99999px;*/
/*}*/

/*!* Define a class to specify a tooltip upon hover*!*/
/*.tooltip {*/
  /*position: relative;*/
  /*display: inline-block;*/
  /*border-bottom: 1px dotted black;*/
/*}*/

/*!* Define a class that styles the tooltip text *!*/
/*.tooptiptext {*/
  /*visibility: hidden;*/
  /*width: 120px;*/
  /*background-color: black;*/
  /*color: #fff;*/
  /*text-align: center;*/
  /*padding: 5px 0;*/
  /*border-radius: 6px;*/
  /*position: absolute;*/
  /*z-index: 1;*/
/*}*/

/*.tooltip .tooltip-left {*/
  /*right: 105%;*/
  /*top: -5px;*/
/*}*/

/*.tooltiptext {*/
  /*visibility: visible;*/
/*}*/