<!DOCTYPE html>

<!--
This page is shown when the extension button is clicked, because the
"browser_action" field in manifest.json contains the "default_popup" key with
value "popup.html".

It has been modified to be an AngularJS app.

JavaScript and HTML must be in separate files: see our Content Security
Policy documentation[1] for details and explanation.
 [1]: https://developer.chrome.com/extensions/contentSecurityPolicy
-->

<html ng-app=popup ng-csp style="height:400px;">
<head>

  <title>My Knowledge Network</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Stylesheets -->
  <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" media="screen">
  <link type="text/css" rel="stylesheet" href="lib/angular/angular-csp.css" media="screen"> <!-- @todo: minify -->
  <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css" media="screen">
  <link type="text/css" rel="stylesheet" href="css/mykn.css" media="screen">  <!-- @todo minify -->

</head>

<base target="_blank" />

<body style="min-width: 400px; min-height:100px; height: 400px;">

<div ng-controller="MainController">
  <!--<p class="tinytext-right">With love from <a href="http://www.learningthreads.co" tabindex="-1">{{companyShortName}}</a> #keeplearning </p>-->

  <!--<div class="text-center">-->
  <!--<input id="search" style="width:90%;" type="text" placeholder="Search My Knowledge Network" tabindex="1"/>-->
  <!--<i class="fa fa-search input-icon"></i>-->
  <!--</div>-->

  <hr>

  <div style="white-space:nowrap;">
    <form name="myForm">
      <!-- button to add a new thread -->
      <button id="newThreadButton"
              class="btn btn-primary btn-xs"
              tabindex="2"
              data-toggle="modal"
              data-target="#newThreadButtonModal">
        <i class="fa fa-plus-circle"></i> New
      </button>

      <!-- selector for current thread -->
      <label for="threadSelect"></label>
      <select name="threadSelect"
              id="threadSelect"
              ng-options="thread.title for thread in getThreads() track by thread.___id"
              ng-model="currentThread"
              ng-change="setCurrentStitches()">
      </select><!--<a class="icon-action" ng-click="addThread()"><i class="fa fa-plus-circle"></i> new thread</a>-->

      <span ng-if="currentThread.title!==getMasterThreadTitle()">
        <a ng-click="exportGraph(currentThread.___id)">
          <i class="fa fa-share-square-o icon-action" style="background-color:white; margin-left:5px;"></i>
        </a>
        <a ng-click="removeThread(currentThread.___id)">
          <i class="fa fa-trash-o icon-action" style="background-color:white;padding-left:5px;"></i>
        </a>
      </span>

      <span ng-if="currentThread.title===getMasterThreadTitle()">
        <a ng-click="viewGraph(currentThread.___id)">
          <i class="fa fa-eye icon-action" style="background-color:white; margin-left:5px;"></i>
        </a>
      </span>

      <span ng-if="currentThread.title===getMasterThreadTitle()">
        <a ng-click="printBookmarks()">
          <i class="fa fa-bookmark icon-action" style="background-color:white; margin-left:5px;"></i>
        </a>
      </span>

      <span class="spacer-right-70"></span>

      <!-- button to add stitch to thread -->
      <button class="btn btn-primary btn-xs rightify"
              tabindex="1"
              ng-click="addStitch(currentThread.___id)">
        <i class="fa fa-bookmark"></i> Add
      </button>

    </form>
  </div>

  <!-- Modal element to verify a user action @todo make this a directive -->
  <div class="modal fade" id="verifyModal" tabindex="-1" role="dialog" aria-labelledby="verifyModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Verify</h4>
        </div>
        <div class="modal-body">
          <!-- Yes and Cancel buttons @todo Need to implement the completeAction functionality -->
          <button class="btn btn-sm btn-success"
                  type="button"
                  ng-click="completeAction(fnc)"
                  data-dismiss="modal"
                  data-target="#newThreadButtonModal">Yes</button>
          <button class="btn btn-sm btn-danger"
                  data-dismiss="modal"
                  data-target="#newThreadButtonModal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal element to specify the thread title @todo make this a directive-->
  <div class="modal fade" id="newThreadButtonModal" tabindex="-1" role="dialog" aria-labelledby="newThreadButtonModelLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Start New Learning Thread</h4>
        </div>
        <div class="modal-body">
          <form name="newThread" class="validate" target="_blank" novalidate>

            <!-- A title for the new thread -->
            <label for="threadName">Name:</label>
            <input id="threadName"
                   type="text"
                   name="threadName"
                   placeholder="New Thread"
                   ng-model="newThreadTitle"><br>

            <!-- A description for the new thread -->
            <!--<label for="threadDescription">Description:</label><br>-->
            <!--<input id="threadDescription"-->
            <!--type="text"-->
            <!--name="threadDescription"-->
            <!--placeholder="Add your description here."-->
            <!--ng-model="newThreadDescription"><br>-->

            <!-- Add and Cancel buttons -->
            <button class="btn btn-sm btn-success"
                    type="button"
                    ng-click="addThread()"
                    data-dismiss="modal"
                    data-target="#newThreadButtonModal">Add</button>
            <button class="btn btn-sm btn-danger"
                    data-dismiss="modal"
                    data-target="#newThreadButtonModal">Cancel</button>

          </form>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="container-fluid">
    <!--<p class="section-header">Stitches-->
    <!--<a class="icon-action" ng-click="addStitch(currentThread.___id)"><i class="fa fa-plus-circle"></i> add stitch</a>-->
    <!--</p>-->
    <div class="row row-main" style="width:600px;">
      <div class="col-xs-3 row-panel" style="background-color:#f3f3f3;overflow:scroll;height:400px;">
        <div id="threadList">
          <div class=""
               ng-repeat="thread in getThreads() track by $index">
            <a class="a-thread droptarget isthread thread-row"
               ng-click="selectThread(thread)"
               id="thread-{{thread.___id}}"
               drag-effects="">{{thread.title}}</a>
          </div>
        </div>
      </div>
      <div class="col-xs-9 row-panel" style="padding-left:0;overflow:scroll;height:400px;">
        <div id="stitches">
          <div ng-if="stitchesExist">
            <div class="label stitch-row"
                 style="background-image: url({{stitch.favIconUrl}}); background-size: 16px;"
                 ng-class="'stitch-' + stitch.___id"
                 ng-repeat="stitch in currentStitches track by $index">
              <i class="fa fa-dot-circle-o icon-node droptarget"
                 id="stitch-{{stitch.___id}}"
                 draggable="true"
                 drag-effects>
              </i>
              <a class="a-stitch" ng-click="loadTab(stitch.url)">
                <span class="stitch-title">{{stitch.title}}</span>
              </a>
              <a ng-if="currentThread.title!==getMasterThreadTitle()"
                 ng-click="removeStitch(currentThread.___id, stitch.___id)">
                <i class="fa fa-trash-o icon-action rightify" style="background-color:white;padding-left:0;"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <label class="permissionCheck">
    Send anonymous tracking data. <a href="http://www.learningthreads.co/?page_id=1678">Learn why this is important. </a> <input type="checkbox" id="analyticsPermission" />
  </label>

</div>

<!-- Scripts: placed at end for load optimization-->
<script src="lib/jquery/jquery-1.10.2.min.js"></script>
<script src="lib/d3/d3.min.js" charset="utf-8"></script>
<script src="lib/bootstrap/bootstrap.min.js"></script>
<script src="lib/angular/angular.min.js"></script>
<script src="lib/taffy/taffy.js"></script> <!-- the "database" --> <!-- @todo minify -->
<script src="lib/google-analytics/google-analytics-bundle.js"></script>
<script src="js/popup.js"></script>

<!-- Learning Threads JS library -->
<script src="js/learning_threads.js"></script>

<!-- Library to help import and organize bookmarks -->
<script src="js/bookmark_lib.js"></script>

<!-- The front-end angular application -->
<script src="app/app.js"></script>
<script src="app/services/storage.js"></script>
<!--<script src="app/services/graphLayouts.js"></script>-->
<script src="app/controllers/controllers.js"></script>
<script src="app/directives/dragEffects.js"></script>

</body>

</html>