<!DOCTYPE html>

<!--
This page is shown when the extension button is clicked, because the
"browser_action" field in manifest.json contains the "default_popup" key with
value "popup.html".

It has been modified to be an AngularJS app.

JavaScript and HTML must be in separate files: see our Content Security
Policy documentation[1] for details and explanation.
 [1]: https://developer.chrome.com/extensions/contentSecurityPolicy
-->

<html ng-app=popup ng-csp>
<head>

  <title>My Knowledge Network</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Stylesheets -->
  <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" media="screen">
  <link type="text/css" rel="stylesheet" href="lib/angular/angular-csp.css" media="screen"> <!-- @todo: minify -->
  <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css" media="screen">
  <link type="text/css" rel="stylesheet" href="css/mykn.css" media="screen">  <!-- @todo minify -->

  <!-- JavaScript -->
  <script src="lib/jquery/jquery-1.10.2.min.js"></script> <!-- needed for Bootstrap -->
  <script src="lib/bootstrap/bootstrap.min.js"></script>
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/taffy/taffy.js"></script> <!-- the "database" --> <!-- @todo minify -->

</head>

<base target="_blank" />

<body style="min-width: 400px; min-height: 200px;">

<div ng-controller="MainController">
  <!--<p class="tinytext-right">With love from <a href="http://www.learningthreads.co" tabindex="-1">{{companyShortName}}</a> #keeplearning </p>-->

  <!--<div class="text-center">-->
  <!--<input id="search" style="width:90%;" type="text" placeholder="Search My Knowledge Network" tabindex="1"/>-->
  <!--<i class="fa fa-search input-icon"></i>-->
  <!--</div>-->

  <hr>

  <div style="white-space:nowrap;">
    <form name="myForm">
      <!-- button to add a new thread -->
      <button id="newThreadButton"
              class="btn btn-primary btn-xs"
              data-toggle="modal"
              data-target="#newThreadButtonModal">
        <i class="fa fa-plus-circle"></i> New Thread
      </button>

      <!-- selector for current thread -->
      <label for="threadSelect"></label>
      <select name="threadSelect"
              id="threadSelect"
              ng-options="thread.title for thread in getThreads() track by thread.___id"
              ng-model="currentThread"
              ng-change="setCurrentStitches()">
      </select><!--<a class="icon-action" ng-click="addThread()"><i class="fa fa-plus-circle"></i> new thread</a>-->

      <!-- button to add stitch to thread -->
      <button class="btn btn-primary btn-xs"
              ng-click="addStitch(currentThread.___id)">
        <i class="fa fa-plus-circle"></i> Add Link
      </button>

    </form>
  </div>

  <!-- Modal element to specify the thread title -->
  <div class="modal fade" id="newThreadButtonModal" tabindex="-1" role="dialog" aria-labelledby="newThreadButtonModelLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Start New Learning Thread</h4>
        </div>
        <div class="modal-body">
          <form name="newThread" class="validate" target="_blank" novalidate>

            <!-- A title for the new thread -->
            <label for="threadName">Name:</label>
            <input id="threadName"
                   type="text"
                   name="threadName"
                   placeholder="New Thread"
                   ng-model="newThreadTitle"><br>

            <!-- A description for the new thread -->
            <!--<label for="threadDescription">Description:</label><br>-->
            <!--<input id="threadDescription"-->
                   <!--type="text"-->
                   <!--name="threadDescription"-->
                   <!--placeholder="Add your description here."-->
                   <!--ng-model="newThreadDescription"><br>-->

            <!-- Add and cancel buttons -->
            <button class="btn btn-sm btn-success"
                    type="button"
                    ng-click="addThread()"
                    data-dismiss="modal"
                    data-target="#newThreadButtonModal">Add</button>
            <button class="btn btn-sm btn-danger"
                    data-dismiss="modal"
                    data-target="#newThreadButtonModal">Cancel</button>

          </form>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="container">
    <!--<p class="section-header">Stitches-->
      <!--<a class="icon-action" ng-click="addStitch(currentThread.___id)"><i class="fa fa-plus-circle"></i> add stitch</a>-->
    <!--</p>-->
    <div id="stitches" ng-if="stitchesExist" >
      <div class="label draggable"
           style="background-image: url({{stitch.favIconUrl}}); background-size: 16px;"
           ng-class="'stitch-' + stitch.id"
           ng-repeat="stitch in currentStitches track by $index"><a class="a-stitch" ng-click="loadTab(stitch.url)">{{stitch.title}}</a>
      </div>
    </div>
  </div>

  <hr>

</div>

<!-- The front-end angular application -->
<script src="app/app.js"></script>
<script src="app/services/storage.js"></script>
<script src="app/controllers/controllers.js"></script>

</body>

</html>